<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Vegetable Express</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">VegeExpress</a>
      </div>
      <div class="header-links">
        <a href="aboutus.html">Cart</a>
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Fruits</a>
        </li>

        <li>
          <a href="index.html">Vegetables</a>
        </li>

      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/spinach.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Spinach</a>
              </div>
              <!-- <div class="product-brand">Nike</div> -->
              <div class="product-price">KSh3</div>
              <!-- <div class="product-rating">4.5 Stars (10 Reviews)</div> -->
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/cabbage.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Cabbage</a>
              </div>
              <div class="product-price">Ksh4</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/carrots.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Carrots (Local)</a>
              </div>
              <div class="product-price">KSh6</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tomato.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Tomato</a>
              </div>
              <div class="product-price">KSh6</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/veg-cabbage.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Cabbage</a>
              </div>
              <div class="product-price">KSh7</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/red-bell.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Bell Pepper/a>
              </div>
              <div class="product-price">KSh15</div>
            </div>
          </li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      Vegetable Express. All Rights Reserved &copy;2020
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>